$dark-background-panel: #212329;
$dark-border: #363636;
//$dark-code-red: #da1039;
//$dark-code-red: #DA4866;
$dark-code-red: #EB4E6E;
$dark-code-background: #121212;
//$dark-link: #2160c4;
$dark-link: #5589DC;
$dark-text: #D5D5D5;

$scrollbar-color: #8AADE5;
$semi-transparent-white: rgba(255, 255, 255, 0.5);
$transparent: rgba(0, 0, 0, 0.0);

$administater-role: #4D8DE2;
